*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: system-ui;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: rgb(65, 67, 69);
}
header{
    background-color: black;
    padding:1rem ;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem .5rem;
    color: #fff;
}
.main-heading a{
    color: #fff;
}
.cart{
    cursor: pointer;
}
.cart i{
    font-size: 1.5rem;
}
.dropDown{
    display: none;
    color: red;
    border: 1px solid red;
    border-radius: .5rem;
    padding: 1rem;
    margin-top: 1rem;
    position: absolute;
    right: 10px;
    top: 53px;
    width: 270px;
    height: 270px;
    overflow-y: scroll;
}
.dropDown::-webkit-scrollbar{
    display: none;
}
.displayBlock{
    display: block;
}
.cartlist-items img{
    width: 30px;
}
.cartlist-items{
    padding:.8rem .4rem;
    margin: .4rem 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart-img,.cart-img img{
    width: 30px;
    height: 30px;
}
.searchBox{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0px;
}
.searchBox input{
    width: 50%;
    padding: .8rem .7rem;
    font-size: 1rem;
    border-radius: .8rem;
    outline: none;
    border: none;
}
main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 1rem .3rem;
    gap: .4rem;
    padding: 1.8rem 1rem;
}
.cardContainer{
    border:1px solid black;
    width: 300px;
}
.image{
 height: 300px;
}
.image img{
    width: 100%;
    height: 100%;
}
.decription{
    padding: 1rem .6rem;
    color: #fff;
}
.btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: .8rem;
}
.btn{
    border: none;
    background-color: black;
    color: #fff;
    padding: .5rem 1.2rem;
    cursor: pointer;
}