*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: system-ui;
    text-decoration: none;
    list-style: none;
}
/* scroll bar styling */
/* width */
::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: black; 
    
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
body{
    background-color: rgb(65, 67, 69);
}
header,footer{
    background-color: black;
    padding:1rem ;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem .5rem;
    color: #fff;
}
.main-heading a{
    color: #fff;
    font-size: 1.3rem;
    font-weight: bold;
}
.cart i{
    font-size: 1.5rem;
    cursor: pointer;
}
.dropDown{
    display: none;
    background-color: #fff;
    color: black;
    border-radius: .5rem;
    padding: 1rem;
    margin-top: 1rem;
    position: absolute;
    right: 10px;
    top: 53px;
    width: 270px;
    height: 270px;
    overflow-y: scroll;
}
.dropDown::-webkit-scrollbar{
    display: none;
}
.displayBlock{
    display: block;
}
.viewCart{
    display: block;
    text-align: center;
    padding: 1rem 0px;
}
.viewCart a{
    color: black;
    font-weight: 500;
}
.cartlist-items img{
    width: 30px;
}
.cartlist-items{
    padding:.8rem .4rem;
    margin: .4rem 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: default;
}
.cart-img,.cart-img img{
    width: 30px;
    height: 30px;
}
#deleteCartData{
    cursor: pointer;
}
#deleteCartData:hover{
    color: red;
}
.searchBox{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0px;
}
.searchBox input{
    width: 70%;
    padding: .8rem .7rem;
    font-size: 1rem;
    border-radius: .8rem;
    outline: none;
    border: none;
}
main{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    align-items: center;
    gap: .4rem;
    padding: 1.8rem .6rem;
}
.cardContainer{
    box-shadow:0px 0px 5px 1px rgba(0, 0, 0, 0.50) ;
    width: 220px;
    border-radius: 8px;
    transition: .5s ease-in-out;
    cursor: pointer;
}
.cardContainer:hover{
    transform: scale(1.04);
}
.image{
 height: 200px;
}
.image img{
    border-radius: 8px  8px 0px 0px;
    width: 100%;
    height: 100%;
}
.decription{
    padding: 1rem .6rem;
    color: #fff;
}
.btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: .8rem;
}
.btn{
    border: none;
    background-color: black;
    color: #fff;
    padding: .5rem 1.2rem;
    border-radius: 8px;
    cursor: pointer;
}
/* modal box */
.productModalDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background:rgba(0, 0, 0, 0.628) ;
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}
.popupClose{
    font-size: 2rem;
    color: red;
    float: right;
    cursor: pointer;
}
.productModal{
    width: 50%;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    border-radius: 8px;
    padding: .9rem .89rem;
}
#itemsCountNum{
    color: black;
    font-size: 1.2rem;
}
/* footer */
.topFooter{
    color: #fff;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1.2rem;
}
.topFooter a{
    color: #fff;
}
.btmFooter{
    text-align: center;
    color: #fff;
    margin-top: 3rem;
    background-color: #555;
    padding: 1rem;
    border-radius: 8px;
}